<h1> Gyms </h1>

<div>
  <% @gyms.each do |gym| %>
    <div id="gym-<%gym.id%>">
      <h3> <%= gym.name %> </h3>
      <h4> Created At: <%= gym.created_at %> </h4>
    </div>
    <br>
  <% end %>
</div>

<%= link_to "New Gym", "/gyms/new" %>