<div id="gym-show-#{@gym.id}">
  <h3> <%= @gym.name %> </h3>
  <p> Gym ID: <%= @gym.id %> <p>
  <p>Number of UFC Champions: <%= @gym.number_of_champions %> </p>
  <p>Holds Current UFC Champion: <%= @gym.holds_current_champion %> </p>
</div>
